  <% if @stock %>
    <div class='row mx-auto mt-3'>
      <div class="card card-header d-block col-8">
        <strong>Stock: </strong> <%= @stock.name %>
        <strong>Ticker: </strong> <%= @stock.ticker %>
        <strong>Price: </strong> <%= @stock.last_price %>
      </div>
    </div>
  <% end %>