<div class='row'>
  <div class='col-12'>
   <h1>My Portfolio</h1>
  </div>
</div>
<div class='row'>
  <div class='col-12'>
    <%= render partial: 'stocks/stock_search_form' %>
  </div>
</div>


<%= render partial: 'stocks/result' %>